<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center">
        <div>
          <a href="https://appseed.us/product/django-material-kit">
            <img src="{{ ASSETS_ROOT }}/img/logo-ct-dark.png" class="mb-3 footer-logo" alt="main_logo">
          </a>
          <h6 class="font-weight-bolder mb-4">Material Kit 2</h6>
        </div>
        <div>
          <p class="text-dark text-sm font-weight-normal">
            &copy; <a href="https://bit.ly/3fKQZaL" class="font-weight-bold" target="_blank">Creative Tim</a>
            coded by <a href="https://appseed.us" class="font-weight-bold" target="_blank">AppSeed</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
